.bg-video {
    position: absolute;           // Positions the video relative to the nearest positioned ancestor.
    top: 0;                       // Aligns the top of the video to the top of the container.
    left: 0;                      // Aligns the left of the video to the left of the container.
    height: 100%;                 // Ensures the video spans the full height of the container.
    width: 100%;                  // Ensures the video spans the full width of the container.
    z-index: -1;                  // Places the video behind other content layers.
    opacity: .15;                 // Makes the video semi transparent for a subtle background effect.
    overflow: hidden;             // Prevents the video from overflowing outside its container.

    &__content {
        height: 100%;             // Ensures the video content fills the height of its container.
        width: 100%;              // Ensures the video content fills the width of its container.
        object-fit: cover;        // Ensures the video scales and crops to fill the container while maintaining its aspect ratio.
    }
}
